*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

:root {
  /* Colors */

  /* Fonts */

  /* Text sizes */

  /* Line heigths */

  /* Buttons */

  /* Containers and margins */
  --container-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: var(--container-width);
  margin: auto;
}
