.hero {
  display: flex;
  flex-wrap: wrap;
  background-image: url("../img/header-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  .hero__navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 17px;
    width: 100%;

    .hero__logo {
      padding: 10px;

      img {
        width: 186px;
      }
    }
  }

  .hero__burger {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .hero__content {
    padding: 80px 20px;
    text-align: center;
    color: var(--hero-content-text);
    width: 100%;

    .hero__title {
      padding: 10px;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.2px;
    }

    .hero__description {
      padding: 10px;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.2px;
    }
  }

  .hero__cta {
    width: 100%;
    display: flex;
    padding: 50px;
    justify-content: center;

    a {
      text-decoration: none;
      color: var(--hero-content-text);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 100% */
      letter-spacing: 0.2px;
      border-radius: 35px;
      text-align: center;
      width: 236px;
      background-color: var(--hero-button-primary);
      padding: 16px 0;
    }
  }
}
