.hero {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.57)),
    url("../img/header-backround-source.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(
    0 0,     /* top-left corner */
    100% 0,  /* top-right corner */
    100% 90%,/* right side, partway down */
    50% 100%,/* bottom center (the "V" point) */
    0 90%    /* left side, partway down */
  );

  .hero__navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 17px;
    width: 100%;

    .hero__logo {
      padding: 10px;

      img {
        width: 186px;
      }
    }
  }

  .hero__burger {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .hero__content {
    padding: 80px 20px;
    text-align: center;
    color: var(--hero-content-text);
    width: 100%;
    

    .hero__title {
      padding: 10px;
      font-size: 48px;
      font-style: normal;
      font-weight: 400;
      line-height: 55px;
      letter-spacing: 0.2px;
    }

    .hero__description {
      padding: 10px;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.2px;
    }
  }

  .hero__cta {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 59px 0;

    a {
      text-decoration: none;
      color: var(--hero-content-text);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 100% */
      letter-spacing: 0.2px;
      border-radius: 35px;
      text-align: center;
      width: 236px;
      background-color: var(--hero-button-primary);
      padding: 16px 0;
    }
  }

  .hero_padding-bottom {
    min-height: 128px;
    min-width: 378px;
  }
}
