.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 28px;
  gap: 80px;

  .testimonials__header {
    text-align: center;
    padding: 10px;
    color: var(--color-text);
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px; /* 114.583% */
    letter-spacing: 0.2px;
  }

  .testimonials__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    gap: 45px;

    .testimonials__card-paragraph {
      color: var(--color-text-secondary);
      text-align: center;
      font-size: 13.526px;
      font-style: normal;
      font-weight: 700;
      line-height: 16.907px; /* 125% */
      letter-spacing: 0.169px;
    }

    .testimonials__card-review {
      display: flex;
      gap: 10px;
      text-align: start;

      .testimonials__card-review-name {
        color: var(--color-text-secondary);
        font-size: 10.144px;
        font-style: normal;
        font-weight: 700;
        line-height: 15.216px; /* 150% */
        letter-spacing: 0.085px;
      }

      .testimonials__card-review-title {
        color: var(--color-text);
        font-size: 12.68px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.824px; /* 180% */
        letter-spacing: 0.169px;
      }
    }
  }

  .testimonials_button {
    color: var(--hero-content-text);
    background-color: var(--button-primary);
    padding: 16px 47px;
    border-radius: 35px;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: 0.1px;
  }
}

@media (min-width: 768px) {
  .testimonials {
    .testimonials__card {
      .testimonials__card-paragraph {
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px; /* 142.857% */
        letter-spacing: 0.2px;
      }
      .testimonials__card-review {
        .testimonials__card-review-name {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px; /* 143.75% */
          letter-spacing: 0.1px;
        }

        .testimonials__card-review-title {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 186.667% */
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
