<section class="container hero-header">
  <nav class="hero-header__navbar">
    <div class="hero-header__navbar__logo">
      <img src="img/header-logo.png" alt="Figma land logo" />
    </div>
    <div class="hero-header__navbar__burger">
      <img src="img/header-burger.png" alt="Header burger" />
    </div>
  </nav>
  <article class="hero-header__text">
    <h2 class="hero-header__text_header">The best products start with Figma</h2>
    <p class="hero-header__text_paragraph">
      Most calendars are designed for teams.
    </p>
  </article>
  <div class="hero-header_button">
    <a href="#">Try For</a>
  </div>
</section>
